*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Landing Page*/

.landingPage {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/kosovo-library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.header {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  border-bottom: whitesmoke 1px solid;

}

.logo {
  width: 10%;
  margin-left: 5%;
  cursor: pointer;
}

.links {
  top: 2px;  
  margin-right: 6%;
  width: 40%;
}

.links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links ul a {
  list-style: none;
  font-size: 16;
  color: #fff;
  text-decoration: none;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  color: #fff;
  font-size: 40px;
}

/* Text Animation  */

.typing{
    margin-left: 15px;
    text-shadow: 0 5px 0 #38b3d1;
    position: relative;
}
.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    top: 0;
    right:0;
    border-right: 3px solid white;
    animation: blink 0.4s infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*First part*/

.content1
{
    padding: 3%;
}

.content1 > .title
{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

.content1 .aboveCardsText
{
   text-align: center;
   margin-top: 3%; 
   margin-bottom: 3%;
}

.card
{
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.08);
    transition: 0.25s;
}

.card > img
{
    width: 100%;
    height: 250px;
}